@model IEnumerable<IEnumerable<StudentCity.BL.Dtos.StudentBehaviorProfile>>
@using StudentCityUI.Resources
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    string cookie = HttpContextAccessor.HttpContext.Request.Cookies["currentLanguage"];
    var lang = "ar";
}
<section>
    <div class="main-content">
        <div class="container-fluid">

            @{ if (Model != null && Model.Count() > 0)
                {
                    foreach (var group in Model)
                    {
                        <div class="col-lg-12 card hovercard" style="border:solid 1px #808080">
                            <div class="row">

                                <p class="col-sm-6"> Group ID :@group.FirstOrDefault().Student.GroupId</p>
                                <p class="col-sm-6">
                                    % @(group.FirstOrDefault().Counter * 100)
                                    <progress value="@group.FirstOrDefault().Counter" style="display:inline-block"></progress>
                                </p>
                                @if (group.Count() == 2)
                                {
                                    <div class="col-lg-2">
                                    </div>
                                }
                                @foreach (var student in group)
                                {
                                    <div class="col-lg-4">
                                        <div class="cardheader">
                                        </div>
                                        <div class="avatar">
                                            <img alt="" src="@student.Student.user.Image[0]">
                                        </div>

                                        <div class="row col-lg-12">
                                            <div class="col-lg-12 desc">
                                                <div class="title">
                                                    <a>@Html.DisplayFor(model => student.Student.user.FirstName) @Html.DisplayFor(model => student.Student.user.LastName)</a>
                                                </div>
                                                <ul>

                                                    <li>
                                                        @Html.DisplayFor(model => student.Student.user.Email)
                                                    </li>
                                                    <li>
                                                        @Html.DisplayFor(model => student.Student.user.Mobile)
                                                    </li>
                                                    @{
                                                        if (cookie != null)
                                                        {
                                                            if (cookie == lang)
                                                            {
                                                                <li>
                                                                    @Resource.Area :  @Html.DisplayFor(model => student.Student.city.Governrate.NameAr)
                                                                </li>
                                                                <li>
                                                                    @Resource.City :   @Html.DisplayFor(model => student.Student.city.NameAr)
                                                                </li>
                                                                <li>
                                                                    @Html.DisplayFor(model => student.Student.College.NameAr)
                                                                </li>

                                                                <li>
                                                                    @Html.DisplayFor(model => student.Student.College.Grade.NameAr)
                                                                </li>

                                                            }
                                                            else
                                                            {
                                                                <li>
                                                                    @Resource.Area :  @Html.DisplayFor(model => student.Student.city.Governrate.NameEn)
                                                                </li>
                                                                <li>
                                                                    @Resource.City :   @Html.DisplayFor(model => student.Student.city.NameEn)
                                                                </li>
                                                                <li>
                                                                    @Html.DisplayFor(model => student.Student.College.NameEn)
                                                                </li>

                                                                <li>
                                                                    @Html.DisplayFor(model => student.Student.College.Grade.NameEn)
                                                                </li>


                                                            }
                                                        }
                                                    }
                                                    <li>
                                                        @Resource.Level @Html.DisplayFor(model => student.Student.College.Level)
                                                    </li>
                                                </ul>
                                                <div class="col-lg-12">
                                                    <button type="button" onclick="detailsAction(@student.Student.Id)" class="btn btn-action col-lg-4 col-md-offset-4">@Resource.details</button>
                                                </div>

                                            </div>

                                        </div>

                                    </div>
                                }


                            </div>
                            <div class="col-lg-12 " style="margin-top:15px">

                                @{ if (!group.FirstOrDefault().State)
                                    {

                                        <button id="InviteBtn_@group.FirstOrDefault().Student.GroupId" type="button" class="btn btn-action col-md-2" onclick="InvitationModal(1, @group.FirstOrDefault().Student.GroupId)">@Resource.Invite</button>

                                        <button id="UnInviteBtn_@group.FirstOrDefault().Student.GroupId" type="button" class="btn btn-action col-md-2" onclick="InvitationModal(0,@group.FirstOrDefault().Student.GroupId)" style="display:none">@Resource.UnInvite</button>
                                    }
                                    else
                                    {
                                        <button id="InviteBtn_@group.FirstOrDefault().Student.GroupId" type="button" class="btn btn-action col-md-2" onclick="InvitationModal(1, @group.FirstOrDefault().Student.GroupId)" style="display:none">@Resource.Invite</button>

                                        <button id="UnInviteBtn_@group.FirstOrDefault().Student.GroupId" type="button" class="btn btn-action col-md-2" onclick="InvitationModal(0, @group.FirstOrDefault().Student.GroupId)">@Resource.UnInvite</button>
                                    }
                                }
                            </div>
                        </div>
                    }
                }
                else
                {
                    <div>
                        <p style="padding:15%;font-size:22px"> There Is No Group....</p>


                    </div>
                }
            }

        </div>
    </div>
</section>
<div class="modal" tabindex="-1" id="DetailsModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:800px;color:white" id="DetailsModalBody">
        </div>
    </div>
</div>

<!-- confirm message -->
<div class="modal" tabindex="-1" role="dialog" style="display:none" id="InvitationModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="background-color:#383848">
            <div class="modal-header">
                <h3 class="modal-title" style="color:#fff">@Resource.ConfirmMessage</h3>

            </div>
            <div class="modal-body">
                <div class="form-group col-xs-12">
                    <h5 style="color:#fff" class="control-label" id="InvitationModalMessage"></h5>
                </div>
            </div>
            <div class="modal-footer" style="border:none">
                <button type="button" class="button-default btn-primary-gold" onclick="InvitationAction()">@Resource.submit</button>
                <button type="button" class="button-default" onclick="hide()">@Resource.close</button>
            </div>
        </div>
    </div>
</div>

@section scripts

    {
    <script>
        var IsInvite = 0, InviteeId = 0;
        function hide() {
            $("#InvitationModal").css("display", "none");
            $("#DetailsModal").css("display", "none");
        }
        /****************************************************************************/
        function InvitationModal(Invite, inviteeId) {
            IsInvite = Invite;
            InviteeId = inviteeId;
            $("#InvitationModal").css("display", "block");
            if (Invite == 1) {
                $("#InvitationModalMessage").text("Are You Sure Do You want to Invite Them ?");
            }
            else {
                $("#InvitationModalMessage").text("Are You Sure Do You want to UnInvite Them ?");
            }
        }
        /****************************************************************************/
        function InvitationAction() {
            hide();
            var Invitationurl = "";
            if (IsInvite == 1) {
                Invitationurl = "/Student/InviteGroup?id=" + InviteeId;
            }
            else if (IsInvite == 0) {
                Invitationurl = "/Student/UnInviteGroup?id=" + InviteeId + "&key=1";
            }
            $.ajax({
                type: "POST",
                url: Invitationurl,

                success: function (response) {

                    if (response) {
                        Success("Success");
                        if (IsInvite == 1) {
                            $("#InviteBtn_" + InviteeId).hide();
                            $("#UnInviteBtn_" + InviteeId).show();
                        }
                        else {
                            $("#InviteBtn_" + InviteeId).show();
                            $("#UnInviteBtn_" + InviteeId).hide();
                        }
                    }
                    else {
                        Error("Error");
                    }
                }

            })

        }
        /****************************************************************************/
        function detailsAction(id) {

            var url = "/Student/detailsAction/studentId?=" + id;
            $("#DetailsModalBody").load(url, function () {

                $("#DetailsModal").show();
            })
        }
    </script>
}