@model IEnumerable<StudentCity.DAL.Models.Lookups.College>
@using StudentCityUI.Resources

<section class="default-section contact-part home-icon">
    <div class="container">
        <a class="button-default btn-action" href="/College/Add">@Resource.Add @Resource.College</a>
        <h1 class="head text-center">@Resource.List @Resource.Colleges</h1>
        <div class="table-responsive">
            <table class="main-table text-center table table-bordered">

                <tr>
                    <th>
                        @Resource.EnglishName
                    </th>
                    <th>
                        @Resource.ArabicName
                    </th>
                    <th>
                        @Resource.NumOf   @Resource.Levels 
                    </th>
                    <th>
                        @Resource.control
                    </th>
                </tr>
                @foreach (var item in Model)
                {

                <tr id="Country_@item.Id">
                    <td>
                        @Html.DisplayFor(modelItem => item.NameEn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NameAr)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LevelNum)
                    </td>
                    <td>

                        @Html.ActionLink(Resource.edit, "Edit", new { id = item.Id }, new { @class = "button-default btn-primary-gold" })

                        <button type="button" onclick="CountryModalDelete(@item.Id)" class="button-danger">@Resource.delete</button>

                    </td>

                </tr>
                }

            </table>
        </div>
    </div>

    <div class="modal" tabindex="-1" role="dialog" style="display:none" id="delete">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="background-color:#383848">
                <div class="modal-header">
                    <h3 class="modal-title" style="color:#fff">@Resource.ConfirmMessage</h3>

                </div>
                <div class="modal-body">
                    <h4 style="color:#fff">
                        @Resource.deleteMessage
                    </h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="button-default btn-primary-gold" onclick="Delete()">@Resource.delete</button>
                    <button type="button" class="button-default" onclick="hide()">@Resource.close</button>
                </div>
            </div>
        </div>
    </div>
</section>
<input type="hidden" id="hiddenCountryId">
@section scripts

    {
    <script>
       
        function hide() {
            $("#delete").css("display", "none");
        }
        /****************************************************************************/
        function CountryModalDelete(CountryId) {

            $("#delete").css("display", "block");
            $("#hiddenCountryId").val(CountryId);
        }
        /************************************
         * ****************************************/
        function Delete() {
            var CountryId = $("#hiddenCountryId").val();
            hide();
            $.ajax({
                type: "POST",
                url: "/College/Delete?id=" + CountryId,

                success: function (response) {

                    if (response) {
                        $("#Country_" + CountryId).remove();
                    }
                    else {
                        alert("Failed");
                    }
                }

            })

        }
    </script>
}